<nav>
    <ul style="display: flex;
    justify-content: space-evenly; list-style: none ;
   ">
        <Li>
            Home
        </Li>
        <li>
            Register
        </li>
        <li>
            Contact
        </li>
    </ul>
</nav>